---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        // Global configuration
        "config",

        // Vendors
        "vendors/syntax-highlighting",

        // Helpers
        "helpers/functions",
        "helpers/mixins",

        // Resets and base styles
        "base/reset",

        // Layouts
        "layouts/all",

        // Pages
        "pages/home"
;


// temp coming soon page
.page-content {
        padding: 0
}
.logo {
        // background: url("{{site.url}}/assets/oxkraft4-w.png");
        background: url("/assets/oxkraft4-w.png");
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100px;
        margin-top: 100px;

        @media all and (max-width: 699px) and (min-width: 0px) {
                margin-top: 50px;
        }
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;

  section {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;

    &.col-1 {
        left: 0;
        width: 50%;
        height: 100%;
        // background: url("{{site.url}}/assets/o.jpg");
        background: url("/assets/poly.png");
        background-position: center center;
        background-size: cover;
        @media all and (max-width: 699px) and (min-width: 0px) {
          display: none
        }
    }

    &.col-2 {
        @media all and (max-width: 699px) and (min-width: 0px) {
          width: 100%;
        }
      right: 0;
      background: #000015;

      article {
        color: #fff;
        text-align: center;

        * {
          position: absolute;
          width: 100%;
        }

        h1 {
          bottom: 125px;

          text-transform: uppercase;

          font-size: 1.4rem;
          font-weight: 300;
          letter-spacing: .6rem;
          text-indent: .6rem;
          @media all and (max-width: 699px) and (min-width: 0px) {
          display: none
        }
        }

        h2 {
          font-size: .8rem;
          font-weight: 800;
          letter-spacing: .1rem;
          text-indent: .1rem;
          text-transform: uppercase;

          &.top {
            top: 100px;
          }

          &.bottom {
            bottom: 100px;
          }

          @media all and (max-width: 699px) and (min-width: 0px) {
          display: none
        }
        }

        p {
          top: 50%;

          @media all and (max-width: 699px) and (min-width: 0px) {
                top: 60%;
             font-size: 3.2rem;
          }

          @media all and (max-width: 699px) and (min-width: 0px) and (orientation: landscape){
                display: none
          }
          margin: -1em 0 0;

          font-size: 3.5rem;

          font-weight: 800;
        }
      }
    }
  }
}